.siebelhub_error_dlg > .ui-dialog-titlebar{
    background-color: coral!important;
}

.siebelhub_trampstamp{
    position: absolute;
    float: right;
    bottom: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    z-index: 9001;
    background-image: url("../../images/proc_in_progress.gif");
    cursor: help;
}
.siebelhub_details{
    margin: 5px;
    border: 0;
}
.siebelhub_details a{
    color: blue!important;
    text-decoration: underline;
    cursor: pointer;
}
#selfdiag_output{
    width: 592px;
    height: 150px;
    overflow-y: scroll;
}


